*{ /* tirando os padroes do navegador */
    margin: 0px;
    border: 0px;
    padding: 0px;
}

:root{
    --color-primary: #00A000;

    --color-black: #000001;

    --color-grey: #000000;

    --color-lightgray: #999999;

    --color-bg-overlay: #FAFAFA;

    --color-white: #FFFFFF;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Caminho/Gilroy.ttf') format('ttf');         
}

body {
    font-family: 'Gilroy', sans-serif; 
}

h2{
    font-size: 48px;
    color: var(--color-black);
    font-weight: 800;
}
h3{
    font-size: 28px;
    color: var(--color-black);
    font-weight: 600;
}

p{
    font-size: 18px;
    color: rgba(0, 0, 1, 0.6);
}

.btn-primary{
    background: none;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    font-size: 16px;
    color: var(--color-primary);
    padding:  16px 36px;
    font-weight: 400;
}

.btn-primary:hover{
    cursor: pointer;
}

.btn-secondary{
    background: var(--color-primary) ;
    border-radius: 10px;
    padding: 16px 32px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
}

.btn-secondary{
    cursor: pointer;
}