@import url("./global.css");

/* ----------------HEADER-------------- */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 257.27px;
}

.logo{
    padding: 40px 0px;
}

.nav-header{
    margin: 16px 0;
}
.nav-header ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
}
a.active{
    color: var(--color-primary);
}

.nav-header a:hover{
    font-weight: 600;
}

.header-icons{
    display: flex;
    gap: 16px;
    align-items: center;
}

header button.btn-primary{
     width: 105px;
     height: 51px;
}
/* ----------------FIM HEADER-------------- */

/* ----------------MAIN-------------- */
main{
    margin-top: 100px;
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 0 51px;
    gap: 124px;
}
.content-healthy{
    width: 563px;
   
}

.content-healthy h1{
    font-size: 48px;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 32px;
}

.content-healthy span{
    color: var(--color-primary);
}

.content-healthy p{
    text-align: start;
   color: rgb(0, 0, 1, 0.6);
   margin-bottom: 32px;
   font-size: 18px;
   width: 503px;
}
div.btn-main{
    display: flex;
    gap: 24px;
}

/* ----------------FIM MAIN-------------- */

/* ----------------CHOOSE-US-------------- */
.choose-us{
    background-color: var(--color-bg-overlay);
    padding: 100px 0;
    text-align: center;
}
.choose-us h2{
    text-transform: capitalize;
    margin-bottom: 7px;
}

.choose-us p{
    margin-top: 8px;
    font-weight: 300;      
}

.cards-container{
    margin: 60px 0;
    display: flex;
    justify-content: center;
    gap: 140px;
    padding: 0 27px 50px 27px;
}

.choose-infos{
    width: 275.3px;
}

.choose-statistics{
    display: flex;
    justify-content: center;
    gap:20px;
}
.item{
    padding: 0 157.5px;

}

.item h3{
    font-size: 48px;
    color: var(--color-black);
}

.item p{
    font-weight: 500;
}
/* ----------------FIM CHOOSE-US-------------- */

